html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/bg-1.jpg");
  background-size: cover; }
  body::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    body {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    body {
      padding-left: 10px;
      padding-right: 10px; } }
  @media screen and (max-width: 480px) {
    body {
      padding-left: 10px;
      padding-right: 10px; } }

ul li {
  list-style: none;
  padding: 0;
  margin: 0; }

.main-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }

/*
 NAV BAR AT TOP OF SITE
*/
.topnav {
  width: 1024px;
  padding-left: 3px;
  cursor: pointer; }

.topnav li {
  display: inline-block;
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 24.35187%;
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
  padding-top: 15px; }
  .topnav li:last-child {
    margin-right: 0; }
  .topnav li::after {
    clear: both;
    content: "";
    display: table; }

.button1,
.button2,
.button3,
.button4 {
  background-color: RGBA(179, 41, 46, 1);
  width: 100%;
  text-transform: uppercase;
  color: RGBA(255, 255, 255, 1);
  height: 2.8125em;
  padding: 0;
  font-family: "Ubuntu", "sans-serif";
  cursor: pointer;
  box-shadow: 0 8px 6px -6px RGBA(7, 7, 7, 1); }
  .button1::after,
  .button2::after,
  .button3::after,
  .button4::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .button1,
    .button2,
    .button3,
    .button4 {
      float: left;
      display: block;
      margin-right: 1.15557%;
      width: 21.32345%;
      margin-left: 130px; }
      .button1:last-child,
      .button2:last-child,
      .button3:last-child,
      .button4:last-child {
        margin-right: 0; }
      .button1:nth-child(2n),
      .button2:nth-child(2n),
      .button3:nth-child(2n),
      .button4:nth-child(2n) {
        margin-right: 0; }
      .button1:nth-child(2n+1),
      .button2:nth-child(2n+1),
      .button3:nth-child(2n+1),
      .button4:nth-child(2n+1) {
        clear: left; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .button1,
    .button2,
    .button3,
    .button4 {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 48.68094%;
      margin-left: 85px; }
      .button1:last-child,
      .button2:last-child,
      .button3:last-child,
      .button4:last-child {
        margin-right: 0; }
      .button1:nth-child(2n),
      .button2:nth-child(2n),
      .button3:nth-child(2n),
      .button4:nth-child(2n) {
        margin-right: 0; }
      .button1:nth-child(2n+1),
      .button2:nth-child(2n+1),
      .button3:nth-child(2n+1),
      .button4:nth-child(2n+1) {
        clear: left; } }
  @media screen and (max-width: 480px) {
    .button1,
    .button2,
    .button3,
    .button4 {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 48.68094%;
      margin-left: 115px; }
      .button1:last-child,
      .button2:last-child,
      .button3:last-child,
      .button4:last-child {
        margin-right: 0; }
      .button1:nth-child(1n),
      .button2:nth-child(1n),
      .button3:nth-child(1n),
      .button4:nth-child(1n) {
        margin-right: 0; }
      .button1:nth-child(1n+1),
      .button2:nth-child(1n+1),
      .button3:nth-child(1n+1),
      .button4:nth-child(1n+1) {
        clear: left; } }

/*
 MAIN PICTURE AND LOGO HEADER
*/
.main-header {
  height: 22.625em;
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 30px;
  border: 7px solid RGBA(255, 255, 255, 1);
  box-shadow: 0 8px 6px -6px RGBA(7, 7, 7, 1); }
  .main-header:last-child {
    margin-right: 0; }

.banner {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 100%;
  height: 21.8125em;
  background-image: url("../images/top-image.png");
  background-position: 27% 28%; }
  .banner:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .banner {
      background-position: center 20% 20%;
      background-size: cover; } }

.overlay {
  position: absolute;
  opacity: .50;
  height: 353px;
  width: 1014px; }

.banner-logo {
  position: relative;
  padding-left: 15px;
  padding-top: 60px;
  vertical-align: middle; }
  @media screen and (max-width: 480px) {
    .banner-logo {
      width: 250px; } }

/*
3 PARAGRAPHS IN MIDDLE OF SITE
*/
.articles {
  line-height: 1rem;
  margin-top: 10px; }
  .articles::after {
    clear: both;
    content: "";
    display: table; }

.article {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 32.75721%;
  background: RGBA(255, 255, 255, 1);
  padding: 20px;
  position: relative;
  box-shadow: 0 8px 6px -6px RGBA(7, 7, 7, 1); }
  .article:last-child {
    margin-right: 0; }
  .article::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .article {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 240px;
      margin-bottom: 20px;
      overflow: scroll; }
      .article:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .article {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 200px;
      overflow: scroll;
      margin-bottom: 20px; }
      .article:last-child {
        margin-right: 0; } }

.article-title {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  line-height: 1rem;
  overflow: scroll;
  font-family: "Ubuntu", "sans-serif"; }

.article-date {
  margin: 0;
  line-height: 3rem;
  font-family: "Ubuntu", "sans-serif"; }

.article-text {
  margin: 0;
  font-size: .65rem;
  line-height: 1rem;
  overflow: scroll;
  font-family: "Ubuntu", "sans-serif"; }

.article-wrapper {
  height: 255px;
  overflow: hidden; }
  .article-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .article-wrapper {
      height: 125px; } }
  @media screen and (max-width: 480px) {
    .article-wrapper {
      height: 125px; } }

.read-more-link {
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: RGBA(179, 41, 46, 1);
  font-weight: bold;
  padding-top: 10px;
  cursor: pointer;
  font-family: "Ubuntu", "sans-serif"; }

/*
 SKATER IMAGES
*/
.skater-pics {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 100%;
  margin-top: 2.3125em; }
  .skater-pics:last-child {
    margin-right: 0; }

.lance-mountain {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 32.75721%;
  background-image: url("../images/sk8er-4.png");
  height: 14.75em;
  background-position: right;
  border: 4px solid RGBA(255, 255, 255, 1);
  background-repeat: no-repeat; }
  .lance-mountain:last-child {
    margin-right: 0; }
  .lance-mountain h1 {
    color: RGBA(255, 255, 255, 1);
    text-transform: uppercase;
    font-family: "Archivo Black", "sans-serif";
    font-size: 40px;
    text-align: center;
    padding-top: 30px; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .lance-mountain h1 {
        padding-top: 30px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .lance-mountain {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 200px;
      background-position: center 20% 20%;
      background-size: cover;
      margin-bottom: 20px; }
      .lance-mountain:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .lance-mountain {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 180px;
      background-position: center;
      margin-bottom: 20px; }
      .lance-mountain:last-child {
        margin-right: 0; } }

.rodney-mullen {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 32.75721%;
  background-image: url("../images/sk8er-3.png");
  height: 14.75em;
  border: 4px solid RGBA(255, 255, 255, 1);
  background-repeat: no-repeat; }
  .rodney-mullen:last-child {
    margin-right: 0; }
  .rodney-mullen h1 {
    color: RGBA(255, 255, 255, 1);
    text-transform: uppercase;
    font-family: "Archivo Black", "sans-serif";
    font-size: 40px;
    text-align: center;
    padding-top: 30px; }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .rodney-mullen {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 200px;
      background-position: center;
      background-size: cover;
      margin-bottom: 20px; }
      .rodney-mullen:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .rodney-mullen {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 180px;
      background-size: cover;
      margin-bottom: 20px; }
      .rodney-mullen:last-child {
        margin-right: 0; } }

.tommy-guerrero {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 32.75721%;
  background-image: url("../images/sk8er-2.png");
  margin-right: 0;
  height: 29.875em;
  background-position: 79%;
  border: 4px solid RGBA(255, 255, 255, 1);
  float: right;
  margin-bottom: 1.6875em;
  background-repeat: no-repeat; }
  .tommy-guerrero:last-child {
    margin-right: 0; }
  .tommy-guerrero h1 {
    color: RGBA(255, 255, 255, 1);
    text-transform: uppercase;
    font-family: "Archivo Black", "sans-serif";
    font-size: 40px;
    text-align: center;
    padding-top: 150px; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .tommy-guerrero h1 {
        padding: 30px; } }
    @media screen and (max-width: 480px) {
      .tommy-guerrero h1 {
        float: left;
        display: block;
        margin-right: 2.63813%;
        width: 100%;
        padding-top: 20px; }
        .tommy-guerrero h1:last-child {
          margin-right: 0; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .tommy-guerrero {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 200px; }
      .tommy-guerrero:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .tommy-guerrero {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 180px; }
      .tommy-guerrero:last-child {
        margin-right: 0; } }

.steve-caballero {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 66.37861%;
  background-image: url("../images/sk8er-1.png");
  height: 14.75em;
  border: 4px solid RGBA(255, 255, 255, 1);
  margin-top: 0.375em;
  margin-bottom: 1.6875em;
  background-position: 23% 48%;
  background-repeat: no-repeat; }
  .steve-caballero:last-child {
    margin-right: 0; }
  .steve-caballero h1 {
    color: RGBA(255, 255, 255, 1);
    text-transform: uppercase;
    font-family: "Archivo Black", "sans-serif";
    font-size: 40px;
    text-align: center;
    padding-top: 50px; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .steve-caballero h1 {
        padding-top: 30px; } }
    @media screen and (max-width: 480px) {
      .steve-caballero h1 {
        float: left;
        display: block;
        margin-right: 2.63813%;
        width: 100%;
        padding-top: 20px; }
        .steve-caballero h1:last-child {
          margin-right: 0; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .steve-caballero {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 200px;
      background-position: center;
      background-size: cover;
      margin-bottom: 20px; }
      .steve-caballero:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .steve-caballero {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      margin-top: .3em;
      height: 180px; }
      .steve-caballero:last-child {
        margin-right: 0; } }

/*
 SKATEBOARDS
*/
.skateboards {
  display: inline-block;
  background-color: RGBA(253, 253, 253, 1);
  width: 100%;
  box-shadow: 0 8px 6px -6px RGBA(7, 7, 7, 1); }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .skateboards {
      padding-left: 150px;
      padding-right: 150px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .skateboards {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      padding-left: 100px;
      padding-right: 100px; }
      .skateboards:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .skateboards {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 600px;
      padding-left: 70px;
      padding-right: 50px;
      overflow: scroll; }
      .skateboards:last-child {
        margin-right: 0; } }

.skateboard-list {
  display: inline-block;
  list-style: none;
  padding-left: 16.5px;
  padding-right: 10px;
  margin: 0; }
  .skateboard-list .boards {
    height: 18.6875em;
    background-color: RGBA(255, 255, 255, 1); }

/*
 CONTACT US FOOTER
*/
.contact-us {
  height: 22.8125em;
  background-color: RGBA(255, 255, 255, 1);
  margin-top: 1.9375em;
  box-shadow: 0 8px 6px -6px RGBA(7, 7, 7, 1); }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .contact-us {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 700px; }
      .contact-us:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .contact-us {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      height: 700px; }
      .contact-us:last-child {
        margin-right: 0; } }

.more-information {
  font-family: "Ubuntu", "sans-serif";
  margin: 0;
  padding-left: 50px;
  padding-top: 30px;
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 49.56791%; }
  .more-information:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .more-information {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 74.34047%;
      margin-left: 80px; }
      .more-information:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .more-information {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      padding-right: 41px; }
      .more-information:last-child {
        margin-right: 0; } }

.action-form {
  float: left;
  display: block;
  margin-right: 0.86418%;
  width: 49.56791%;
  float: right;
  padding-left: 40px;
  padding-top: 45px; }
  .action-form:last-child {
    margin-right: 0; }
  @media screen and (max-width: 925px) and (min-width: 769px) {
    .action-form {
      padding-left: 10px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .action-form {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      margin-left: 130px; }
      .action-form:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .action-form {
      float: left;
      display: block;
      margin-right: 2.63813%;
      width: 100%;
      padding-left: 21px; }
      .action-form:last-child {
        margin-right: 0; } }

.submit-button {
  background-color: RGBA(179, 41, 46, 1);
  color: RGBA(255, 255, 255, 1);
  text-transform: uppercase;
  margin-left: 259px;
  margin-top: 10px; }

.sm-buttons {
  margin-left: 130px;
  margin-top: 50px; }
  .sm-buttons .fa-facebook-square {
    color: RGBA(62, 94, 150, 1); }
  .sm-buttons .fa-google-plus-square {
    color: RGBA(212, 85, 60, 1); }
  .sm-buttons .fa-twitter-square {
    color: RGBA(68, 182, 238, 1); }
  .sm-buttons .fa-github-square {
    color: RGBA(50, 49, 49, 1); }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .sm-buttons {
      margin-left: 170px; } }
  @media screen and (max-width: 480px) {
    .sm-buttons {
      margin-left: 100px; } }
