html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

html, body {
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  height: auto;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1024px;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

body {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li p {
  color: white;
  text-align: center;
  padding-top: 5%;
  margin: 0; }

.container {
  max-width: 1024px;
  margin: 0 auto; }

.top-nav {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px; }
  .top-nav::after {
    clear: both;
    content: "";
    display: table; }
  .top-nav-nav {
    display: inline-block;
    width: 100%; }
  .top-nav-boxes {
    display: inline-block;
    width: 100%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    width: 1024px; }
    .top-nav-boxes:last-child {
      margin-right: 0; }
    .top-nav-boxes .box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      height: 48px;
      background-color: RGBA(179, 51, 46, 1); }
      .top-nav-boxes .box:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .top-nav-boxes .box {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-bottom: 12px; }
          .top-nav-boxes .box:last-child {
            margin-right: 0; }
          .top-nav-boxes .box:nth-child(2n) {
            margin-right: 0; }
          .top-nav-boxes .box:nth-child(2n+1) {
            clear: left; } }

.hero {
  height: 359px;
  border: white 8px solid;
  margin-top: 40px;
  background-image: url("../images/top-image.png");
  background-size: cover;
  position: relative; }
  .hero::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/grid.png); }
  .hero img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    position: relative;
    padding-top: 50px;
    padding-left: 20px;
    z-index: 1; }
    .hero img:last-child {
      margin-right: 0; }

.paragraphs {
  height: 357px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px; }
  .paragraphs::after {
    clear: both;
    content: "";
    display: table; }

.para1,
.para2,
.para3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 353px;
  background-color: RGBA(254, 254, 254, 1); }
  .para1:last-child,
  .para2:last-child,
  .para3:last-child {
    margin-right: 0; }

.headline1 {
  color: RGBA(51, 51, 47, 1);
  font-size: 1.5em;
  text-align: left;
  padding-top: 30px;
  margin-left: 40px;
  margin-right: 40px; }

.date {
  color: RGBA(160, 160, 160, 1);
  font-size: 0.9em;
  padding-top: 10px;
  text-align: left;
  padding-left: 45px; }

.content {
  color: RGBA(160, 160, 160, 1);
  font-size: 0.9em;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px; }

.read-more {
  color: RGBA(179, 51, 46, 1);
  text-align: center;
  padding-top: 30px; }

.skater {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-right: 0; }
  .skater::after {
    clear: both;
    content: "";
    display: table; }
  .skater .left-side-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto; }
    .skater .left-side-box:last-child {
      margin-right: 0; }
    .skater .left-side-box::after {
      clear: both;
      content: "";
      display: table; }
    @media all and (max-width: 740px) {
      .skater .left-side-box {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .skater .left-side-box:last-child {
          margin-right: 0; } }
    .skater .left-side-box .item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding: 15% 0;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      overflow: hidden; }
      .skater .left-side-box .item:last-child {
        margin-right: 0; }
      .skater .left-side-box .item.mountain {
        background-image: url("../images/sk8er-4.png"); }
      .skater .left-side-box .item.mullen {
        background-image: url("../images/sk8er-3.png"); }
      @media all and (max-width: 740px) {
        .skater .left-side-box .item {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .skater .left-side-box .item:last-child {
            margin-right: 0; }
          .skater .left-side-box .item img {
            width: 100%; } }
    .skater .left-side-box .steve-box {
      background-image: url("../images/sk8er-1.png");
      padding: 15% 0;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      overflow: hidden;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .skater .left-side-box .steve-box:last-child {
        margin-right: 0; }
  .skater .tommy-box {
    background-image: url("../images/sk8er-2.png");
    padding: 20% 0;
    background-position: center right, center;
    background-repeat: no-repeat;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto; }
    .skater .tommy-box:last-child {
      margin-right: 0; }
    .skater .tommy-box::after {
      clear: both;
      content: "";
      display: table; }
    @media all and (max-width: 740px) {
      .skater .tommy-box {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .skater .tommy-box:last-child {
          margin-right: 0; } }

.board-container {
  height: 296px;
  width: 1027px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  .board-container::after {
    clear: both;
    content: "";
    display: table; }
