html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

html, body {
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 7.80547%, transparent 7.80547%, transparent 8.38132%, #eee 8.38132%, #eee 16.18679%, transparent 16.18679%, transparent 16.76264%, #eee 16.76264%, #eee 24.56811%, transparent 24.56811%, transparent 25.14396%, #eee 25.14396%, #eee 32.94943%, transparent 32.94943%, transparent 33.52529%, #eee 33.52529%, #eee 41.33075%, transparent 41.33075%, transparent 41.90661%, #eee 41.90661%, #eee 49.71207%, transparent 49.71207%, transparent 50.28793%, #eee 50.28793%, #eee 58.09339%, transparent 58.09339%, transparent 58.66925%, #eee 58.66925%, #eee 66.47471%, transparent 66.47471%, transparent 67.05057%, #eee 67.05057%, #eee 74.85604%, transparent 74.85604%, transparent 75.43189%, #eee 75.43189%, #eee 83.23736%, transparent 83.23736%, transparent 83.81321%, #eee 83.81321%, #eee 91.61868%, transparent 91.61868%, transparent 92.19453%, #eee 92.19453%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 7.80547%, transparent 7.80547%, transparent 8.38132%, #eee 8.38132%, #eee 16.18679%, transparent 16.18679%, transparent 16.76264%, #eee 16.76264%, #eee 24.56811%, transparent 24.56811%, transparent 25.14396%, #eee 25.14396%, #eee 32.94943%, transparent 32.94943%, transparent 33.52529%, #eee 33.52529%, #eee 41.33075%, transparent 41.33075%, transparent 41.90661%, #eee 41.90661%, #eee 49.71207%, transparent 49.71207%, transparent 50.28793%, #eee 50.28793%, #eee 58.09339%, transparent 58.09339%, transparent 58.66925%, #eee 58.66925%, #eee 66.47471%, transparent 66.47471%, transparent 67.05057%, #eee 67.05057%, #eee 74.85604%, transparent 74.85604%, transparent 75.43189%, #eee 75.43189%, #eee 83.23736%, transparent 83.23736%, transparent 83.81321%, #eee 83.81321%, #eee 91.61868%, transparent 91.61868%, transparent 92.19453%, #eee 92.19453%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 7.80547%, transparent 7.80547%, transparent 8.38132%, #eee 8.38132%, #eee 16.18679%, transparent 16.18679%, transparent 16.76264%, #eee 16.76264%, #eee 24.56811%, transparent 24.56811%, transparent 25.14396%, #eee 25.14396%, #eee 32.94943%, transparent 32.94943%, transparent 33.52529%, #eee 33.52529%, #eee 41.33075%, transparent 41.33075%, transparent 41.90661%, #eee 41.90661%, #eee 49.71207%, transparent 49.71207%, transparent 50.28793%, #eee 50.28793%, #eee 58.09339%, transparent 58.09339%, transparent 58.66925%, #eee 58.66925%, #eee 66.47471%, transparent 66.47471%, transparent 67.05057%, #eee 67.05057%, #eee 74.85604%, transparent 74.85604%, transparent 75.43189%, #eee 75.43189%, #eee 83.23736%, transparent 83.23736%, transparent 83.81321%, #eee 83.81321%, #eee 91.61868%, transparent 91.61868%, transparent 92.19453%, #eee 92.19453%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 7.80547%, transparent 7.80547%, transparent 8.38132%, #eee 8.38132%, #eee 16.18679%, transparent 16.18679%, transparent 16.76264%, #eee 16.76264%, #eee 24.56811%, transparent 24.56811%, transparent 25.14396%, #eee 25.14396%, #eee 32.94943%, transparent 32.94943%, transparent 33.52529%, #eee 33.52529%, #eee 41.33075%, transparent 41.33075%, transparent 41.90661%, #eee 41.90661%, #eee 49.71207%, transparent 49.71207%, transparent 50.28793%, #eee 50.28793%, #eee 58.09339%, transparent 58.09339%, transparent 58.66925%, #eee 58.66925%, #eee 66.47471%, transparent 66.47471%, transparent 67.05057%, #eee 67.05057%, #eee 74.85604%, transparent 74.85604%, transparent 75.43189%, #eee 75.43189%, #eee 83.23736%, transparent 83.23736%, transparent 83.81321%, #eee 83.81321%, #eee 91.61868%, transparent 91.61868%, transparent 92.19453%, #eee 92.19453%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 7.80547%, transparent 7.80547%, transparent 8.38132%, #eee 8.38132%, #eee 16.18679%, transparent 16.18679%, transparent 16.76264%, #eee 16.76264%, #eee 24.56811%, transparent 24.56811%, transparent 25.14396%, #eee 25.14396%, #eee 32.94943%, transparent 32.94943%, transparent 33.52529%, #eee 33.52529%, #eee 41.33075%, transparent 41.33075%, transparent 41.90661%, #eee 41.90661%, #eee 49.71207%, transparent 49.71207%, transparent 50.28793%, #eee 50.28793%, #eee 58.09339%, transparent 58.09339%, transparent 58.66925%, #eee 58.66925%, #eee 66.47471%, transparent 66.47471%, transparent 67.05057%, #eee 67.05057%, #eee 74.85604%, transparent 74.85604%, transparent 75.43189%, #eee 75.43189%, #eee 83.23736%, transparent 83.23736%, transparent 83.81321%, #eee 83.81321%, #eee 91.61868%, transparent 91.61868%, transparent 92.19453%, #eee 92.19453%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

body {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat center center;
  max-width: 100%; }

.top-nav-section {
  max-width: 1090px;
  color: white;
  background-position: center;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }
  .top-nav-section::after {
    clear: both;
    content: "";
    display: table; }

ul {
  list-style: none; }

li p {
  color: white;
  text-align: center;
  padding-top: 5%; }

.box1,
.box2,
.box3,
.box4 {
  height: 48px;
  width: 250px;
  background-color: RGBA(179, 51, 46, 1); }

.box1 {
  float: left;
  display: block;
  margin-right: 0.57586%;
  width: -17.3385%; }
  .box1:last-child {
    margin-right: 0; }

.box2 {
  float: left;
  display: block;
  margin-right: 0.57586%;
  width: -25.71982%; }
  .box2:last-child {
    margin-right: 0; }

.box3 {
  float: left;
  display: block;
  margin-right: 0.57586%;
  width: -25.71982%; }
  .box3:last-child {
    margin-right: 0; }

.box4 {
  float: left;
  display: block;
  margin-right: 0.57586%;
  width: -25.71982%; }
  .box4:last-child {
    margin-right: 0; }

.hero {
  height: 359px;
  width: 1095px;
  border: white 8px solid;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-image: url("../images/top-image.png");
  background-size: cover;
  position: relative; }
  .hero::after {
    clear: both;
    content: "";
    display: table; }
  .hero::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/grid.png); }

img {
  float: left;
  display: block;
  margin-right: 0.57586%;
  width: 41.33075%;
  position: relative;
  padding-top: 50px;
  padding-left: 20px;
  z-index: 1; }
  img:last-child {
    margin-right: 0; }

.paragraphs {
  width: 1027px;
  height: 357px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px; }
  .paragraphs::after {
    clear: both;
    content: "";
    display: table; }

.para1,
.para2,
.para3 {
  float: left;
  display: block;
  margin-right: 0.57586%;
  width: 32.94943%;
  height: 353px;
  width: 336px;
  background-color: RGBA(254, 254, 254, 1); }
  .para1:last-child,
  .para2:last-child,
  .para3:last-child {
    margin-right: 0; }

.headline1 {
  color: RGBA(51, 51, 47, 1);
  font-size: 1.5em;
  text-align: left;
  padding-top: 30px;
  margin-left: 40px;
  margin-right: 40px; }

.date {
  color: RGBA(160, 160, 160, 1);
  font-size: 0.9em;
  padding-top: 10px;
  text-align: left;
  padding-left: 45px; }

.content {
  color: RGBA(160, 160, 160, 1);
  font-size: 0.9em;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px; }

.read-more {
  color: RGBA(179, 51, 46, 1);
  text-align: center;
  padding-top: 30px; }

.skaters {
  height: 478px;
  width: 1027px;
  border: black solid;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  .skaters::after {
    clear: both;
    content: "";
    display: table; }

.skaters1 {
  height: 234px;
  width: 335px;
  background-position: center;
  float: left;
  display: block;
  margin-right: 0.57586%;
  width: 7.80547%;
  border: red solid; }
  .skaters1:last-child {
    margin-right: 0; }
