@import 'reset';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$max-width: 1024px;
@import '../bower_components/neat/app/assets/stylesheets/neat';

$primary-color: RGBA(96, 96, 96, 1); // GRAY BACKGROUND COLOR //
$seconday-color: RGBA(179, 51, 46, 1); // RED COLOR //
$third-color: RGBA(68, 88, 151, 1); // FACEBOOK //
$forth-color: RGBA(204, 144, 50, 1); // RSS FEED //
$fith-color: RGBA(105, 141, 199, 1); // TWITTER //
$sixth-color: RGBA(178, 56, 45, 1); // YOUTUBE //
$seventh-color: RGBA(254, 254, 254, 1); // PARAGRAPHS //
$eigth-color: RGBA(160, 160, 160, 1); // PARAGRAPH BODY TEXT COLOR //
$ninth-color: RGBA(51, 51, 47, 1); // MAIN PARAGRAPH HEADING COLOR //


$tablet: new-breakpoint(max-width 1090px min-width 768px);
$mobile: new-breakpoint(max-width 767px);

body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li p {
     color: white;
     text-align: center;
     padding-top: 5%;
     margin: 0
}

%max-width {
    max-width: $max-width;
    margin: 0 auto;
}

.container {
    @extend %max-width;
}

.top-nav {
    @include outer-container;
    margin-top: 85px;

    &-nav {
        display: inline-block;
        width: 100%;
    }

    &-boxes {
        display: inline-block;
        width: 100%;
        @include span-columns(10);
        width: 1024px;

        .box {
            @include span-columns(3);
            height: 48px;
            background-color: $seconday-color;

            @include media($mobile) {
                @include span-columns(6 of 12);
                @include omega(2n);
                margin-bottom: 12px;
            }
        }
    }
}

.hero {
     height: 359px;
     border: white 8px solid;
     margin-top: 40px;
     background-image: url("../images/top-image.png");
     background-size: cover;
     position: relative;

    &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../images/grid.png);
    }

    img {
       @include span-columns(5);
        position: relative;
        padding-top: 50px;
        padding-left: 20px;
        z-index: 1;
    }
}

.paragraphs {
    height: 357px;
     @include outer-container;
      margin-top: 70px;
}

.para1,
.para2,
.para3 {
     @include span-columns(4);
      height: 353px;
      background-color: $seventh-color;
}

.headline1 {
    color: $ninth-color;
    font-size: 1.5em;
    text-align: left;
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.date {
    color: $eigth-color;
    font-size: 0.9em;
    padding-top: 10px;
    text-align: left;
    padding-left: 45px;
}

.content {
    color: $eigth-color;
    font-size: 0.9em;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.read-more {
    color: $seconday-color;
    text-align: center;
    padding-top: 30px;
}

.skater {
     @include outer-container;
     @include omega;

    .left-side-box {
        @include  span-columns(8);
        @include outer-container;

        @media all and (max-width: 740px) {
            @include span-columns(12);
        }

        .item {
            @include span-columns(6);
            padding: 15% 0;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            overflow: hidden;

            &.mountain {
                background-image: url("../images/sk8er-4.png");
            }

            &.mullen {
                background-image: url("../images/sk8er-3.png");
            }

            @media all and (max-width: 740px) {
                @include span-columns(12);

                img {
                    width: 100%;
                }
            }
        }

        .steve-box {
            background-image: url("../images/sk8er-1.png");
            padding: 15% 0;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            overflow: hidden;
            @include span-columns(12);


        }
    }

    .tommy-box {
        background-image: url("../images/sk8er-2.png");
        padding: 20% 0;
        background-position: center right, center;
        background-repeat: no-repeat;
        @include span-columns(4);
        @include outer-container;


        @media all and (max-width: 740px) {
            @include span-columns(12);
        }
    }

}

.board-container {
    height: 296px;
    width: 1027px;
    @include outer-container;

}
