@import 'reset';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$grid-colums: 12;
@import '../bower_components/neat/app/assets/stylesheets/neat';

$primary-color: RGBA(96, 96, 96, 1); // GRAY BACKGROUND COLOR //
$seconday-color: RGBA(179, 51, 46, 1); // RED COLOR //
$third-color: RGBA(68, 88, 151, 1); // FACEBOOK //
$forth-color: RGBA(204, 144, 50, 1); // RSS FEED //
$fith-color: RGBA(105, 141, 199, 1); // TWITTER //
$sixth-color: RGBA(178, 56, 45, 1); // YOUTUBE //


$tablet: new-breakpoint(max-width 1090px 10);
$mobile: new-breakpoint(max-width 740px 5);

body {
    background-image: url("../images/bg.jpg");
    margin: 0 auto;
    background-repeat: no-repeat center center;
    max-width: 100%;
}

.top-nav-section {
    max-width: 1090px;
    color: white;
    background-position: center;
    @include outer-container;
    margin-top: 130px;
}

ul{
    list-style: none;
}

li {
    border: 4px solid red;
}

.hero {
    height: 359px;
    width: 1095px;
    border: black solid;
    @include outer-container;
    margin-top: 50px;
    background-image: url("../images/top-image.png");
    background-size: cover;

    &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/grid.png);
    }
}
