@import 'reset';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

$max-width: 1024px;

$primary-color: RGBA(96, 96, 96, 1); // GRAY BACKGROUND COLOR //
$seconday-color: RGBA(179, 51, 46, 1); // RED COLOR //
$third-color: RGBA(68, 88, 151, 1); // FACEBOOK //
$forth-color: RGBA(204, 144, 50, 1); // RSS FEED //
$fith-color: RGBA(105, 141, 199, 1); // TWITTER //
$sixth-color: RGBA(178, 56, 45, 1); // YOUTUBE //
$seventh-color: RGBA(254, 254, 254, 1); // PARAGRAPHS //
$eigth-color: RGBA(160, 160, 160, 1); // PARAGRAPH BODY TEXT COLOR //
$ninth-color: RGBA(51, 51, 47, 1); // MAIN PARAGRAPH HEADING COLOR //


$tablet: new-breakpoint(max-width 1024px min-width 768px);
$mobile: new-breakpoint(max-width 767px);

body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-1.jpg");

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li p {
     color: white;
     text-align: center;
     padding-top: 5%;
     margin: 0;
}

%max-width {
    max-width: $max-width;
    margin: 0 auto;
}

.container {
    @extend %max-width;
}

.top-nav {
    @include outer-container;
    margin-top: 85px;

    &-nav {
        display: inline-block;
        width: 100%;
    }

    &-boxes {
        display: inline-block;
        width: 100%;
        @include span-columns(10);
        width: $max-width;

        .box {
            @include span-columns(3);
            height: 48px;
            text-transform: uppercase;
            font-family: "Cabin", "sans-serif";
            border-bottom: 5px solid $primary-color;
            background-color: $seconday-color;
            cursor: pointer;

            @include media($mobile) {
                @include span-columns(6 of 12);
                @include omega(1n);
                margin-bottom: 12px;
            }
        }
    }
}

.hero {
    height: 359px;
    border: white 8px solid;
    margin-top: 40px;
    background-image: url("../images/top-image.png");
    background-size: 120%;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-image: url(../images/grid.png);
    }

    img {
       @include span-columns(5);
        position: relative;
        padding-top: 50px;
        padding-left: 20px;
        z-index: 1;
    }
}

.paragraphs {
    height: 357px;
    margin-top: 70px;
    // @include outer-container;
    // @include span-columns(12);

}

.para1,
.para2,
.para3 {
     @include span-columns(4 of 12);
     height: 353px;
     background-color: $seventh-color;
     text-overflow: ellipsis;
     overflow: hidden;
}

.headline1 {
    color: $ninth-color;
    font-size: 1.5em;
    text-align: left;
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.date {
    color: $eigth-color;
    font-size: 0.9em;
    padding-top: 10px;
    text-align: left;
    padding-left: 45px;
}

.content {
    color: $eigth-color;
    font-size: 0.9em;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.read-more {
    color: $seconday-color;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
}

.skater {
     @include outer-container;
     @include omega;

    .left-side-box {
        @include  span-columns(8);
        @include outer-container;

        @media all and (max-width: 767px) {
            @include span-columns(12);
        }

        .item {
            @include span-columns(6);
            padding: 15% 0;
            background-position: center;
            background-size: 100%;


            &.mountain {
                background-image: url("../images/sk8er-4.png");
                border:5px solid #fff;
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden;
                margin-top: 15px;

                .lance-h1 {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 34px;
                    text-align: center;
                }
            }

            &.mullen {
                background-image: url("../images/sk8er-3.png");
                border:5px solid #fff;
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden;
                margin-top: 15px;

                .rodney-h1 {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 35px;
                    text-align: center;
                }
            }

            @media all and (max-width: 767px) {
                @include span-columns(12);

                img {
                    width: 100%;
                }
            }
        }

        .steve-box {
            background-image: url("../images/sk8er-1.png");
            padding: 13%;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            overflow: hidden;
            margin-top: 15px;
            border:5px solid #fff;
            @include span-columns(12);

            .steve-h1 {
                color: #fff;
                text-transform: uppercase;
                font-size: 35px;
                text-align: center;
            }

        }
    }

    .tommy-box {
        background-image: url("../images/sk8er-2.png");
        padding: 20% 0;
        background-position: center right, center;
        background-size: cover;
        background-repeat: no-repeat;
        border:5px solid #fff;
        margin-top: 15px;
        @include span-columns(4);
        @include outer-container;

        .tommy-h1 {
            color: #fff;
            text-transform: uppercase;
            font-size: 35px;
            text-align: center;
        }


        @media all and (max-width: 767px) {
            @include span-columns(12);
        }
    }

}

.board-container {
    height: 296px;
    width: $max-width;
    @include outer-container;

}
